/* -------------- VANAF HAMBURGERMENU OP SCHERM KOMT -------------- */
@media (orientation: portrait) {
    #navigatie li {
        margin: 0;
    }

    .navbar {
        background-color: #121212;
    }

    .container {
        margin-left: 0;
    }

    #home {
        font-size: 80%;
    }

    #homeText {
        width: 100%;
        padding: 0 10% 0 10%;
        margin-top: 30%;
    }

    #buttons {
        margin-top: 20px;
        -webkit-flex-flow: column wrap;
    }

    #homeText p {
        padding: 0;
    }

    .buttonFullWidth, #home section {
        width: 100%;
    }

    #buttons .buttonFullWidth:last-child {
        margin-left: 0px;
    }
    
    #buttons .buttonFullWidth:first-child {
        margin-right: 0px;
        margin-bottom: 15px;
    }
}



/* -------------- VOOR KLEINE SCHERMEN IN LANDSCAPE -------------- */
@media (max-width: 850px) and (orientation: landscape) {
    #navigatie li {
        margin: 0;
    }

    .navbar {
        background-color: #121212;
    }

    .container {
        margin-left: 0;
    }

    #home {
        font-size: 80%;
    }

    #homeText {
        width: 100%;
        padding: 0 10% 0 10%;
        margin-top: 15%;
    }

    #buttons {
        margin-top: 20px;
        -webkit-flex-flow: row wrap;
    }

    #homeText p {
        padding: 0;
    }

    #home section {
        width: 100%;
    }
}