/* -------------- FONTS -------------- */
@font-face{
    font-family: 'Antwerpen';
    src:  url('/fonts/Antwerpen-Regular.woff') format('woff'),
    url('/fonts/Antwerpen-Regular.ttf')  format('truetype');
}

@font-face{
    font-family: 'SunAntwerpen';
    src:  url('/fonts/SunAntwerpen_300.woff') format('woff'),
    url('/fonts/SunAntwerpen_300.ttf')  format('truetype');
}

* {
    font-family: 'SunAntwerpen', Arial;
}

h1, h2, h3, a, .anchorBtn {
    font-family: 'Antwerpen', Arial;
}

footer {
    text-align: center;
    color: #BABABA;
    padding: 10px;
    background-color: #000;
    font-weight: normal;
}

footer a {
    text-align: center;
    color: #BABABA;
    text-decoration: underline;
}

footer a:hover {
    color: #fff;
    text-decoration: none;
}

.col-md-8 .card {
    margin-bottom: 15px;
}



/* -------------- NAVIGATIE -------------- */
#logo img {
    width: 96px;
    height: 96px;
}

#logo a {
    text-decoration: none;
}

.navbar {
    z-index: 2;
    box-shadow: none;
    padding: 0;
    max-width: 100%;
    background-color: #121212;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.container {
    min-width:100%;
    margin: 0;
    padding: 0;
}

#navigatie {
    min-width: 50%!important;
    right: 0!important;
    margin: 0!important;
    display: flex!important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: flex-end!important;
}

#navigatie li {
    margin: 0 2%;
}

#navigatie li:last-child {
    margin-right: 40px;
}

.dropdown-menu {
    background-color: #CF0039!important;
    color: #fff!important;
    border: solid 3px #CF0039;
    border-radius: 0!important;
    min-width: 5rem!important;
    padding: 10px 20px;
}

.dropdown-group {
    display: inline;
    padding: 0;
    margin: 0;
}

.nav-link {
    padding: 0!important;
    text-transform: capitalize!important;
}

.navbar a, .nav-link a, .dropdown-item a {
    color: #fff!important;
    font-size: 130%!important;
    display: inline;
    padding: 0!important;
}

.navbar a:hover, .nav-link a:hover, .dropdown-group:hover {
    text-decoration: none!important;
    background-color: transparent!important;
    border-bottom: 3px solid #CF0039!important;
}

.dropdown-menu:hover {
    border: solid 3px #fff;
}

.navbar-toggler-icon {
    color: #fff;
}

.active a {
    border-bottom: 3px solid #CF0039;
}

#scroll {
    position: fixed;
    bottom: 50px;
    right: 50px;
    margin: 0 auto;
    display: block;
    display: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#scroll i {
    color: #F18A00;
    margin: 0;
    position: relative;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#scroll i:hover {
    color: #fff;
}

/* KLEUR HAMBURGER ICOON 
    aan te passen achter 'stroke='    */
.navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

/* KLEUR HAMBURGER ICOON BORDER */
.navbar-light .navbar-toggler{
    border-color:rgba(255,255,255,.5)
}



/* -------------- HOMEPAGE -------------- */
#home {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
    background-image: url('/img/HomeFotoDarker.png');
    background-position: top right;
    text-align: center;
    background-size: cover;
}

#home section {
    height: 100%;
    width: 80%;
}

#buttons, #homeText {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 0 auto;
}

#homeText {
    -webkit-flex-flow: column wrap;
    color: #fff;
    padding-top: 8%;
    margin-top: 15%;
}

#homeText h1 {
    font-size: 2.5em;
    color: #F18A00;
}

#homeText p {
    font-size: 1.5em;
    padding: 0 20%;
}

#buttons{
    -webkit-flex-flow: row wrap;
    margin-top: 20px;
}

#buttons button {
    padding: 5px 15px;
    font-size: 20px;
    cursor: pointer;
    width: 180px;
    font-weight: bolder;
}

#btnInfo {
    background-color: transparent;
    color: #fff;
    border: 1px solid #FFF;
}

#btnInfo:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#btnGame { 
    background-color: #CF0039;
    color: #fff;
    border: 1px solid #CF0039;
}

#btnGame:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
}

#buttons .buttonFullWidth:last-child {
    margin-left: 5px;
}

#buttons .buttonFullWidth:first-child {
    margin-right: 5px;
}



/* -------------- INFOPAGE -------------- */
#achtergrond section {
    width: 100%;
    margin-top: 8%;
}

.infoBlok {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    padding: 0 auto;
    background-color: #003865;
    padding: 5% 0;
}

.artikel {
    padding: 2% 7% 0 7%;
    flex: 30%;
    max-width: 33%;
    align-content: center;
}

.artikel a {
    color: #F18A00;
}

.anchorBtn {
    color: #F18A00;
    background-color: transparent;
    margin: 0 auto;
    padding: 0;
    border: none;
    display: flex; 
    justify-content: center;
}

.anchorBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

.artikel p {
    text-align: center;
    color: #fff;
}

.artikel h2 {
    text-align: center;
    color: #fff;
}

.tussenBlok {
    padding: 5% 0;
    text-align: center;
    color: #F18A00;
}

/* The Modal */
.modal {
    /*display: none;*/ /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 20px;
    background-color: #CF0039;
    color: white;
}

.modal-body {
    padding: 10px 20px;
    font-size: 110%;
    overflow: scroll;
}

.modal-footer {
    padding: 10px 20px;
    background-color: #CF0039;
    color: white;
    height: 30px;
}

.modal-footer h3 {
    font-size: 90%;
    
}

/* -------------- ADMINPAGE -------------- */
.py-4 {
    margin: 0!important;
    padding: 0!important;
}

.bg-danger {
    width: 50%;
    margin: 0 auto;
    background-color: transparent!important;
    border: solid 3px #000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bg-danger h3 {
    color: #fff;
    font-weight: 400;
    font-size: 1.3em;
    background-color: #CF0039;
    padding: 10px;
    margin: 0;
}

.btn-danger {
    float: left;
    margin: 10px;
}

.keuzeknoppen {
    display: flex;
    flex-direction: row;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 3px solid #CF0039;
}

.keuzeknoppen:first-child .keuzeknop {
    margin-left: 0!important;
}

.keuzeknop {
    background-color: #CF0039;
    color: #fff;
    border: solid 2px #CF0039;
    margin: 10px 20px;
    width: 150px;
}

.keuzeknop:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #CF0039;
    cursor: pointer;
}

#activeKeuzeknop {
    background-color: #fff;
    color: #000;
    border: 2px solid #CF0039;
}

#myTable {
    margin: 20px 50px;
    max-width: 90%;
}

#myTable td, #myTable th {
    padding: 0 10px;
}

#myTable tbody {
    border: 3px solid #000;
    border-radius: 5px;
}

#myTable th, #myTable td {
    border: 1px solid #000;
 }

#myTable th {
    height: 50px;
    font-weight: bold;
    background-color: #F4C3CC;
}

#myTable tr:nth-child(even) {
    background-color: #F4C3CC;
}

#myTable .editbuttons {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
    align-content: center;
    border: none;
    border-top: 1px solid #000;
}

#myTable tr:nth-child(3) .editbuttons {
    border: none;
}

#myTable .editbuttons button {
    margin: 5px;
}

#myTable .editbuttons .buttonEdit button {
    background-color: #F18A00;
    color: #fff;
    border: 1px solid #000;
}

#myTable .editbuttons .buttonDelete button {
    background-color: #CF0039;
    color: #fff;
    border: 1px solid #000;
}

#myTable .editbuttons .buttonEdit button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

#myTable .editbuttons .buttonDelete button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}



/* -------------- ACHTERGROND OP ALLE PAGINA'S VOOR MENU TE KUNNEN ZIEN -------------- */
#achtergrond {
    background-color: #121212;
    width: 100%;
    position: absolute;
    top: 0;
}