/* -------------- HOMEPAGE -------------- */

#logo img {
    width: 90px;
    height: 90px;
}

#navigatie li {
    padding: 0 5%;
}

#home {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    z-index: 1;
    background-image: url('/img/HomeFoto.png');
    background-position: top right;
}

.navbar {
    position: relative;
    background-color: transparent;
    z-index: 2;
    box-shadow: none;
}

.navbar a {
    color: #fff;
    font-size: 130%;
}

.container {
    margin-left: 5%;
    margin-right: 0;
    max-width: 90%;
}

@media (max-width: 767.98px) {
    #navigatie li {
        padding: 0;
    }
}